<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Your Pets{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="shortcut icon" href="{% static 'image\icon.png' %}" />
    <link rel="stylesheet" href="{% static 'css\style_base.css' %}" />
    {% block src%}
        <script src="{% static 'js\open_popup.js'%}"></script>
    {% endblock %}
</head>
<body>

    <div class="container">
        <header>
        <div class="logo">
            <a href="{% url 'main_page' %}">
                <img src="{% static 'image\Logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="buttons">
            {% if not request.user.is_authenticated %}
                <button><a href="#" class="open_popup">Войти</a></button>
            {% else %}
                <button><a href="{% url 'logout' %}"><img src="{% static 'image\exit.png' %}" alt="Exit"></a></button>
                <button><a href="{% url 'profile' %}"><img src="{% static 'image\profile.png' %}" alt="Profile"></a></button>
                <div class="button_lents_advice">
                    <button><a href="{% url 'advice' %}">Советы</a></button>
                    <button><a href="{% url 'pet_cards' %}">Лента</a></button>

                </div>
                <button><a href="{% url 'exposition' %}"><img src="{% static 'image\prize.png' %}"></a></button>
                <button><a href="{% url 'calendar_current' %}"><img src="{% static 'image\calendar.png' %}"></a></button>
<!--                <button><a href="#"><img src="{% static 'image\icon_calendar.png' %}" alt="Exit"></a></button>-->
<!--                <button><a href="#"><img src="{% static 'image\winner.png' %}" alt="Exit"></a></button>-->
            {% endif %}
        </div>
    </header>
        <main>
            {% block main%}
                <div class="opacity_fon">
                   <div class="slogan">
                    <p>СДЕЛАЙ</p><p class="green">ПИТОМЦА</p><p>СЧАСТЛИВЫМ</p>
                    </div>
                    <p class="name_list">У нас вы найдёте</p>
                    <ul class="list">
                        <li>Индивидуальные советы от ветеринаров</li>
                        <li>Поиск компании для вашего питомца</li>
                        <li>Календарь событий</li>
                    </ul>
                </div>
                <img class = "photo_pets" src="{% static 'image\pets.png'%}" alt="Pets photo">

                <div class="popUp-bg">
                    <div class="popUp">
                        <p><button class="login">Вход</button> / <button class="register">Регистрация</button></p>
                        <form id="form_register" method="POST">
                            {% csrf_token %}
                            {% for item in form_register %}
                                <label for="{{item.id_for_label}}">{{ item.label }}</label>
                                {{item}}
                                <div class="errors">{{ item.errors }}</div>
                            {% endfor %}
                            <input type="hidden" name="register">
                            <div class="flex-reg">
                               <input value="Зарегистрироваться" type="submit" class="buttons">
                            </div>
                        </form>
                        <form id="form_login" method="POST">
                            {% csrf_token %}
                            {% for item in form_login %}
                                <label for="{{item.id_for_label}}">{{ item.label }}</label>
                                {{item}}
                            {% endfor %}
                            <div class="errors">{{ form_login.non_field_errors }}</div>
                            <input type="hidden" name="login">
                            <div class="flex-reg">
                               <input value="Войти" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
        </main>
        <footer>
            <div class="info">&copy;2024 Your Pets. Все права защищены</div>
            <div class="link"></div>
        </footer>
    </div>
</body>
</html>