{% extends "base.html" %}
{% load static %}
{% block src %}
    <link rel="stylesheet" href="{% static 'css\style_calendar.css' %}" />
{% endblock %}
{% block main %}
<div class="flex-block">
    <div class="lenta">
       <div class="nav">
            <div class="bottom-line">
                <a href="{% url 'calendar_current' %}">Актуальные</a>
                <a href="{% url 'calendar_last' %}">Прошедшие</a>
            </div>
       </div>
    </div>
    <form method="POST" class="add_event">
        <p>Новое событие</p>
        {% csrf_token %}
        <div class="block_event">
            <label>{{form.name_event.label}}</label>
            {{form.name_event}}
        </div>
        <div class="block_event">
            <label>{{form.pet.label}}</label>
            {{form.pet}}
        </div>
        <div class="block_event">
            <label>{{form.date.label}}</label>
            {{form.date}}
        </div>
        <div class="block_event">
            <label>{{form.comment.label}}</label>
            {{form.comment}}
        </div>
        <button class='button_event' type="submit">Добавить</button>
    </form>
    {% if calendar_events.count == 0 %}
        <div class="events">
            <div class="one_event">
                <p class="name">Здесь будут отображаться ваши события</p>
                <ul class="tags">
                    <li></li>
                    <li></li>
                </ul>
                <p></p>
            </div>
        </div>
    {% else %}
        <div class="events">
            {% for event in calendar_events %}
            <div class="one_event">
                <p class="name">{{event.name_event}}</p>
                <ul class="tags">
                    <li>{{event.date|date:"j F Y"}} г</li>
                    <li>{{event.pet}}</li>
                </ul>
                <p>{{event.comment}}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}