{% extends "base.html" %}
{% load static %}
{% block src%}
    <link rel="stylesheet" href="{% static 'css\style_exposition.css' %}" />
{% endblock %}
{% block main%}
    <div class="flex-block">
        <div id="card_exposition">
            {% for event in list_events %}
            <div class="exposition">
                <div class="photo">
                   <img src="{{event.img}}">
                </div>
                <div class="exposition_info">
                    <p class="header">{{event.title}}</p>
                    <p class="grey_text">{{event.desc}}</p>
                    <div class="data_location">
                       <div>
                            <img class="info_icon" src="/static/image/birth2.png">
                            <p>{{event.date}}</p>
                        </div>
                        <div>
                            <img class="info_icon" src="/static/image/location.png">
                            <p>{{event.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    </div>
{% endblock %}