{% extends "base.html" %}
{% load static %}
{% block src%}
    <link rel="stylesheet" href="{% static 'css\style_exposition.css' %}" />
{% endblock %}
{% block main%}
    <div class="flex-block">
        <div id="card_exposition">
            <div class="exposition">
                <div class="photo">
                   <img src="/media/images/pets/dog_02.jpg">
                </div>
                <div class="exposition_info">
                    <p class="header">World dog show</p>
                    <p class="grey_text">Мировое собачье шоу</p>
                    <div class="data_location">
                       <div>
                            <img class="info_icon" src="/static/image/birth2.png">
                            <p>с 12 мая по 16 июня</p>
                        </div>
                        <div>
                            <img class="info_icon" src="/static/image/location.png">
                            <p>Россия, Тюмень</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exposition">
                <div class="photo">
                   <img src="/media/images/pets/dog_02.jpg">
                </div>
                <div class="exposition_info">
                    <p class="header">World dog show</p>
                    <p class="grey_text">Мировое собачье шоу</p>
                    <div class="data_location">
                       <div>
                            <img class="info_icon" src="/static/image/birth2.png">
                            <p>с 12 мая по 16 июня</p>
                        </div>
                        <div>
                            <img class="info_icon" src="/static/image/location.png">
                            <p>Россия, Тюмень</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exposition">
                <div class="photo">
                   <img src="/media/images/pets/dog_02.jpg">
                </div>
                <div class="exposition_info">
                    <p class="header">World dog show</p>
                    <p class="grey_text">Мировое собачье шоу</p>
                    <div class="data_location">
                       <div>
                            <img class="info_icon" src="/static/image/birth2.png">
                            <p>с 12 мая по 16 июня</p>
                        </div>
                        <div>
                            <img class="info_icon" src="/static/image/location.png">
                            <p>Россия, Тюмень</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}