<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
<body>
    {% if not request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}

            {% for i in form_login %}
                {{ i }}
            {% endfor %}
                {{form_login.non_field_errors}}
            <input type="hidden" name="login">
            <button type="submit">Войти</button>
        </form>
        <form method="POST">
            {% csrf_token %}
            {% for i in form_register %}
                {{ i }}
                {{ i.errors }}
            {% endfor %}
            <input type="hidden" name="register">
            <button type="submit">Зарегистрироваться</button>
        </form>
    {% endif %}
</body>
</html>