{% extends "base.html" %}
{% load static %}
{% block title%}Лента{% endblock %}
{% block src%}
    <script src="{% static 'js\send_request_getBreeds_by_pet.js' %}"></script>
    {% if breed_list != None %}
    <script type="text/javascript">
        var selectedBreedIds = {{ breed_list|safe }};
    </script>
    {% else %}
    <script type="text/javascript">
        var selectedBreedIds = null;
    </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css\style_lenta_pets.css' %}" />
{% endblock %}
{% block main%}
    <div class="flex-block">
    {% for field in form %}
    {% if field.name == 'pet'%}
    {% if field|length != 0 %}
        <form method="GET" class="filter">
    {% for field in form %}
        {% if field.name == 'pet' %}
            <div class="block_filter">
                <legend>Мои питомцы</legend>
                <div class = "filter_choice" id="id_pet">
                    {% for choice in field %}
                        <div>
                            <label for="{{ choice.id_for_label }}">
                                {{ choice.tag }}
                                {{ choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif field.name == 'mission' %}
            <div class="block_filter">
                <legend>Цель</legend>
                <div class = "filter_choice" id="id_mission">
                    {% for choice in field %}
                        <div>
                            <label for="{{ choice.id_for_label }}">
                                {{ choice.tag }}
                                {{ choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif field.name == 'gender' %}
            <div class="block_filter">
                <legend>Пол</legend>
                <div class = "filter_choice" id="id_gender">
                    {% for choice in field %}
                        <div>
                            <label for="{{ choice.id_for_label }}">
                                {{ choice.tag }}
                                {{ choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif field.name == 'breed' %}
            <div class="block_filter">
                <legend>Порода животного</legend>
                <div class = "filter_choice" id="id_breed">
                    <div>{{ field }}</div>
                </div>
                <button type="submit">Применить</button>
            </div>
        {% endif %}
    {% endfor %}{% endif %}{% endif %}{% endfor %}

        </form>
        <div class="lenta">
            <div class="nav">
                <div class="bottom-line">
                    <a href="{% url 'pet_cards' %}">Лента питомцев</a>
                    <a href="{% url 'likes' %}">Мои лайки</a>
                </div>
            </div>
            {% if form.pet|length == 0 %}
            <div class="error">
                Вы не добавили животных для поиска
            </div>
            {% elif cards|length == 0 %}
            <div class="error">
                По выбранным фильтрам животные не найдены
            </div>
            {% else %}
            {% for card in cards%}
            <div class="cards">
                <div class="photo">
                   <img src="/media/{{card.photo}}">
                </div>
                <div class="pet_info">
                    <div class="pet_name">
                        {{card.name}}
                    </div>
                    <div class="block_info">
                        <img class="info_icon" src="/static/image/breed2.png">
                        <div>
                            <p>Порода</p>
                            <p><b>{{card.breed}}</b></p>
                        </div>
                    </div>
                    <div class="block_info">
                        <img class="info_icon" src="/static/image/color2.png">
                        <div>
                           <p>Окрас</p>
                            <p><b>{{card.color}}</b></p>
                        </div>
                    </div>
                    <div class="block_info">
                        <img class="info_icon" src="/static/image/birth2.png">
                        <div>
                            <p>День рождения</p>
                            <p><b>{{card.birth}}</b></p>
                        </div>
                    </div>
                    <div class="block_info">
                        <img class="info_icon" src="/static/image/gender.png">
                        <div>
                            <p>Пол</p>
                            <b>{{card.gender}}</b>
                        </div>

                    </div>
                    <div class="block_info">
                        <img class="info_icon" src="/static/image/target.png">
                        <div>
                            <p>Цель</p>
                            <b>{{card.mission}}</b>
                        </div>
                    </div>
                    <div class="block_comment">
                        {{card.comment}}
                    </div>
                </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="card_id" value="{{card.pk}}">
                        <button type="submit"><img src="/static/image/like.png"></button>
                    </form>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}