{% extends "base.html" %}
{% load static %}
{% block src%}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css\style_lenta_pets.css' %}" />
    <link rel="stylesheet" href="{% static 'css\style_lenta_pets_likes.css' %}" />
{% endblock %}
{% block main%}
    <div class="flex-block">
        <form method="GET" class="filter">
    {% for field in form %}
        {% if field.name == 'pet' %}
            <div class="block_filter">
                <legend>Мои питомцы</legend>
                <div class = "filter_choice" id="id_pet">
                    {% for choice in field %}
                        <div>
                            <label for="{{ choice.id_for_label }}">
                                {{ choice.tag }}
                                {{ choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit">Фильтр</button>
        {% endif %}
    {% endfor %}
    </form>
<!--    Лайки<br><br><br><br><br><br><br>-->
<!--    {{form}}-->
    <div class="lenta">
        <div class="nav">
            <div class="bottom-line">
                <a href="{% url 'pet_cards' %}">Лента питомцев</a>
                <a href="{% url 'likes' %}">Мои лайки</a>
            </div>
        </div>
        <div id="card_likes"></div>
    </div>

{% endblock %}

<script>
    $(document).ready(function() {
    $('input[name="pet"]').each(function() {
        if ($(this).is(':checked')) {
            var petId = $(this).val();
            if (petId) {
                $.ajax({
                    url: '/get_cards_likes/',
                    type: 'GET',
                    data: {
                        'pet_id': petId
                    },
                    success: function(response) {
                        $('#card_likes').html(response.cards_html);
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка при получении карточек животных');
                    }
                });
            } else {
                $('#card_likes').empty();
            }
        }
    });


    $('input[name="pet"]').on('change', function() {
        var petId = $(this).val();
        if (petId) {
            $.ajax({
                url: '/get_cards_likes/',
                type: 'GET',
                data: {
                    'pet_id': petId
                },
                success: function(response) {
                    $('#card_likes').html(response.cards_html);
                },
                error: function(xhr, status, error) {
                    console.error('Ошибка при получении карточек животных');
                }
            });
        }
        else {
            $('#card_likes').empty();
        }
    });
});
</script>