{% extends "base.html" %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block src %}
    <link rel="stylesheet" href="{% static 'css\style_profile.css' %}" />
    <script src="{% static 'js\for_form_add_pet.js' %}"></script>
{% endblock %}
{% block main%}
    <img class = "photo_feet" src="{% static 'image\feet2.png'%}" alt="Pets feet">
    <div class="flex_block">
<!--        ДОДЕЛАТЬ КОГДА ЛЕША УБЕРЕТ ПАРОЛЬ!!!!-->
        <div class="profile_block">
            <form method="POST" class="form_profile">
                {% csrf_token %}
                {% for item in form%}
                    <label for="{{item.id_for_label}}">{{ item.label }}</label><br/>
                        {{item}}<br/>
                    <div class="errors">{{ item.errors }}</div>
                {% endfor %}
                <button type="submit" class="button_change">Изменить</button>
            </form>
        </div>
        <div class="user_pets">
            <p class="slogan">MY PETS</p>
            {% for pet in select_pets %}
                <img width="100px" src="{{pet.photo.url}}">
            {% endfor %}
            <form method="POST" enctype='multipart/form-data' action="{% url 'add_pet' %}">
                {% csrf_token %}
                <div id="form-container"></div>
                {{ form.non_field_errors }}
            </form>
        </div>
    </div>
{% endblock %}
