.filter{
    height: 200px;
}

.block_filter{
    border: 0;
}

form button{
    margin-left: 30px;
}

.nav a:first-child{
    background-color: white;
    color: #B0D4B2;
}

.nav a:last-child{
    background-color: #B0D4B2;
    color: white;
}