.flex-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exposition{
    margin: 30px 0 20px 20px;
    background-color: white;
    border: 2px solid #B0D4B2;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 900px;
}

.photo{
    height: 133px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.photo img{
    width: 100px;
}

.info_icon {
    width: 30px;
    margin-right: 10px;
}

.exposition_info{
    padding: 20px 20px 0 20px;
    width: 100%;
}

.header{
    font-size: 18pt;
    font-weight: bold;
}

.grey_text{
    color: #989898;
    padding-top: 5px;
}

.data_location{
    display: flex;
    margin-top: 25px;
}

.data_location div{
    display: flex;
    align-items: flex-end;
    width: 50%;
}

a{
    text-decoration: none;
    color: black;
}