*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/RobotoCondensed-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf")
}

body{
    height: 100%;
    font-family: "Comfortaa";
    background-image: url('../image/bones.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

header a{
    text-decoration:none;
    display:inline-block;
    color: black;
}

header{
    width: 100%;
    height:84px;
    background-color: #b0d4b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 130px;
    margin: 18px 10px 15px 10px;
}

header button{
    font-family: "Comfortaa";
    font-size: 12pt;
    height:30px;
    display:inline-grid;
    padding: 5px 10px;
    border-radius: 20px;
    color: #004524;
    background-color: white;
    margin-left: 10px;
    border: none;
}

header button img{
    width:20px;
}

header .buttons{
    display:flex;
    flex-direction: row-reverse;
    float: right;
    margin-right:20px;
}

.button_lents_advice{
    display:inline;
}

.button_lents_advice button{
    width: 150px;
    font-weight:bold;
    font-size:14pt;
    float:right;
}

.icon_close{
    position:absolute;
    top: 13px;
    right: 20px;
    width:25px;
}
/*СТИЛИ ДЛЯ ЗАГОЛОВКА В ПОПАПЕ ВХОД РЕГИСТР.*/
.active{
    border-bottom: 2px solid #8B9F8C !important;
}

.popUp-bg, .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index:2;
}

.popUp {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    z-index:3;
    border-radius: 40px;
}

.popUp button{
    font-family: "Comfortaa";
    border: none;
    background: none;
    cursor: pointer; /* при наведении курсор становится в форме руки */
    font-size: 16pt;
    padding: 10px 0 5px 0;
    margin-bottom: 20px;
}

.popUp form input, textarea{
    font-family: "Comfortaa";
    margin: 5px 0 5px 0;
    padding-left:7px;
    height: 30px;
    width: 300px;
    font-size: 10pt;
    border: 1px solid #B0D4B2;
    border-radius: 10px;
}

form textarea{
    height: 50px;
    resize:none;
    font-family: "Comfortaa";
    padding:5px;
}

.errors li, .errors ul{
    display:inline-block;
    color: red;
    font-size: 8pt;
    max-width: 300px;
    margin: 5px 0 5px 0;
    padding-left:0;
}

.display_none{
    display:none;
}

.popUp label{
    display: block;
}

.popUp form label {
    font-size:10pt;
    padding-left:7px;
}

.flex-reg{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.popUp form input[type="submit"] {
    background: #B0D4B2;
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    height:30px;
    padding: 0 10px;
    width: 220px;
    margin-bottom: 15px;
    cursor: pointer; /* при наведении курсор становится в форме руки */
}

.no-scroll {
    overflow-y: hidden;
}

.container {
  display: flex; /* Создаем гибкую структуру */
  flex-direction: column; /* Располагаем элементы вертикально */
  min-height: 100vh; /* Минимальная высота равна высоте вьюпорта */
}

main .photo_pets{
    position: absolute;
    right: 80px;
    top: 40px;
    width:350px;
    display: inline-block;
    margin-top: 100px;
}

.slogan{
    font-size: 34pt;
    width: 650px;
    margin: 0 0 10px 50px;
    display: inline-block;
}

.slogan .green{
    color: #b0d4b2;
}

.opacity_fon{
    margin: 60px 0 0 40px;
    background: radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.8) 40%, transparent);
    width: fit-content;
    height: 410px;
    padding-bottom: 20px;
}

main .list{
    font-size: 16pt;
    margin: 0 0 0 50px;
    list-style-type: none;
}
main .list li{
    background-color: #b0d4b2;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    display:flex;
    align-items:center;
    color: white;
    margin-bottom: 10px;
}
.name_list{
    margin: 10px 0 10px 50px;
    font-weight: bold;
    font-size: 26px;
}

.footer {
  margin-top: auto;
}

footer{
    margin-top: auto;
    background-color: #b0d4b2;
    color:white;
	height: 30px;
    display:flex;
    align-items:center;
}

footer .info{
    padding-left:15px;
    font-size:10pt;
}
